<template>
  <div class="container flex justify-content-center">
    <h2 class="text-muted text-center mt-4 fs-4">BMI Calculator</h2>
  </div>

  <div class="d-flex justify-content-center mb-3 gap-3">
  <input type="number" v-model="weight" placeholder="Enter weight (kg)" class="py-1 px-1 border  border-muted">
  <input type="number" v-model="height"  placeholder="Enter height (feet)"  class="py-1 px-1 border  border-muted"> 
  <button type="button" @click="calcBMIJun" class="d-flex justify-content-center border text-muted  border-muted bg-muted">Compute</button>
  </div>
  <div class="d-flex justify-content-center mb-3 gap-3 ">
    <h4 v-if="BMI" class="text-muted"> Your BMI is {{BMI}} ( {{ BMIStatus }} ) </h4>
  </div>
  <div class="container flex justify-content-center mt-4">
  <div class="text-capitalize text-muted fs-4 d-flex justify-content-left">Total calculation: {{histories.length}}</div>
    <table class="table table-bordered border  border-muted table-hover">
      <thead class="">
        <tr class="text-center">
          <th scope="col" class="text-muted">Weight</th>
          <th scope="col" class="text-muted">Height</th>
          <th scope="col" class="text-muted">BMI</th>
          <th scope="col" class="text-muted">BMI Status</th>
          <th scope="col" class="text-muted">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(history, index) in histories" :key="index" class="text-center">
          <td>{{ history.weight }}</td>
          <td>{{ history.height }}</td>
          <td>{{ history.BMI}}</td>
          <td>{{ history.BMIStatus}}</td>
          <td @click="deleteHistory(index)">
            <span role="button"><font-awesome-icon class="text-muted" icon="fa-solid fa-trash" /></span>
          </td>
        </tr>
      </tbody>
    </table>
    </div>

</template>

<script>

export default {
  name: "BmiView",

  data() {
    return {
      weight:'',
      height:'',
      BMI:'',
      BMIStatus:'',
      histories:[],
    }
  },

  //Methods goes here
  methods:{

    calcBMIJun(){
      // check the fields
      if(this.weight > 0 && this.height > 0){
        
        // calculate for the BMI and BMI status
        this.cacl();

        // add to the history
        this.addToHistory();

        // clear fields
        this.weight = '';
        this.height = '';

      }
    },

    cacl(){

      //Formula for the BMI
      var x=this.weight/this.height;

      //conditions to determine BMI
      if(x >=18.5 && x <=24.9){
        this.BMI = x.toFixed(2); 
        this.BMIStatus="Normal";
      }
      else if(x <18.5){
        this.BMI=x.toFixed(2); 
        this.BMIStatus="Underweight";
      }
      else if(x >=25 && x <=29.9){
        this.BMI=x.toFixed(2); 
        this.BMIStatus="Overweight";
      }
      else{
        this.BMI=x.toFixed(2); 
        this.BMIStatus="Obese";
      }

    },

    addToHistory(){

      // check if the history already have 10
      if(this.histories.length > 3){
        // if it has then remove the oldest history
        this.histories.shift();
      }

      // add the new calculation
      this.histories.push({
        weight: this.weight,
        height: this.height,
        BMI:this.BMI,
        BMIStatus: this.BMIStatus
      });

    },

    //Function to delete a row history
    deleteHistory(index) {
      this.histories.splice(index, 1);
    }
  }
}
 
</script>
