<template>
  <form action="" method="">
  <div class="imgcontainer">
    <img src="../assets/img_avatar2.jpg" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label class="text-muted" for="uname"><b>Username</b></label>
    <input type="text" v-model="username" placeholder="Enter Username" name="uname" required>

    <label class="text-muted" for="psw"><b>Password</b></label>
    <input type="password" v-model="password" placeholder="Enter Password" name="psw" required>

    <button @click="login" type="submit">Login</button>
    <label  class="check">
      <input class="text-muted" type="checkbox" v-model="checked" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw text-muted">Forgot <a href="#">password?</a></span>
  </div>
</form>

</template>





<script>
  
  
  export default {
    data() {
      return {
         username: '',
         password: '',
         checked:false 
      }
    },
    methods: {
      login(){
        if (this.username == 'ndalami' && this.password == '123456') {
          localStorage.setItem('isAuth', true);
          this.$router.push('BMI');
        }else{
          alert('Incorrect Username and Password!')
        }
      }
    },
  }
  </script>

<style scoped> /* Bordered form */
  form {
      border: 3px solid #f1f1f1;
      width: 50%;
      margin: auto;
      padding-top: 1px;
      margin-top: 70px;
    
    }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      display: inline-block;
      border: 1px solid rgb(204, 204, 204);
      box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
      background-color: #9ca536;
      color: rgb(126, 125, 125);
      padding: 14px 20px;
      margin: auto;
      margin-top: 10px;
      border: none;
      cursor: pointer;
      width: 50%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
      opacity: 0.8;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
      width: 40%;
      border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
      padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
      float: right;
      padding-top: 16px;
  }

  .check{
    float: right;
    margin-top:20px;
  }
    
</style>
  