<template>
  <header class="routing flex container head mt-1 mb-2 pt-2 pb-2 text-decoration-none" v-if="this.$route.path !== '/'">
     <div class="routing" v-if="this.$route.path !== '/'">
        <nav class="d-flex justify-content-center">
           <router-link to="/bmi" class="text-decoration-none me-4 text-muted ">BMI</router-link> 
           <router-link to="/todoApp" class="text-decoration-none text-muted ">TodoApp</router-link>
           <router-link class="routing" v-if="this.$route.path == '/'" to="/">Login</router-link>
        </nav>
        <button @click="this.logout" class="flex justify-content-end btn btn-white text-muted border border-white float-end mt-4">Logout</button>
     </div>
  </header>
  
  <router-view />
</template>

<script>
export default {
  methods: {
    logout(){
      localStorage.removeItem('isAuth');
      this.$router.push({ path: '/' });
    }
  },
}
</script>

<style scoped>
.head{background-color:#9ca536;}
</style>